/* Footer styling */
.footer {
  background: #4c00b0;
  background-size: 300% 300%;
  animation: color 12s ease-in-out infinite;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  color: white;
  font-size: 20px;
  padding: 40px 20px;
}

/* Section containers */
.explore,
.follow,
.services,
.location {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Title styles */
.foot-title {
  margin: 10px;
  font-weight: bold;
  text-decoration: underline;
}

/* Link styles */
.link-text,
.link-email {
  color: white;
  margin-bottom: 10px;
  text-decoration: none;
}

.link-icon {
  margin: 15px 20px;
  text-decoration: none;
  color: rgb(255, 221, 225);
  font-size: 40px;
}

/* Social Icons Styling */
.links {
  margin-bottom: 1rem;
}

.links a {
  font-size: 2rem; /* Set the icon size */
  color: #fff; /* White icon color */
  margin: 0 1rem;
  transition: transform 0.3s ease, font-size 0.3s ease;
}

.links a:hover {
  transform: translateY(-5px); /* Move up */
  font-size: 2.5rem; /* Make the icons slightly bigger */
}

.links a:focus {
  outline: none; /* Remove focus outline */
}

/* Responsive adjustments */
@media (max-width: 1024px) {
  .footer {
      grid-template-columns: repeat(2, 1fr);
      font-size: 18px;
      padding: 30px 15px;
  }

  .link-icon {
      font-size: 35px;
  }

  .links a {
      font-size: 1.8rem;
  }

  .links a:hover {
      font-size: 2.2rem;
  }
  .location-text{
      font-size: 15px;
  }
}

@media (max-width: 768px) {
  .footer {
      grid-template-columns: 1fr;
      text-align: center;
      padding: 25px 10px;
  }

  .link-icon {
      font-size: 30px;
  }

  .links a {
      font-size: 1.6rem;
      margin: 0 0.5rem;
  }

  .links a:hover {
      font-size: 2rem;
  }

  .foot-title {
      font-size: 18px;
  }

  .link-text,
  .link-email {
      font-size: 16px;
  }
}

@media (max-width: 480px) {
  .footer {
      padding: 20px 10px;
  }

  .foot-title {
      font-size: 16px;
  }

  .link-icon {
      font-size: 25px;
  }

  .links a {
      font-size: 1.4rem;
  }

  .links a:hover {
      font-size: 1.8rem;
  }

  .link-text,
  .link-email {
      font-size: 14px;
  }
}

@media (max-width: 360px) {
  .footer {
      padding: 15px 5px;
  }

  .foot-title {
      font-size: 14px;
  }

  .link-icon {
      font-size: 20px;
  }

  .links a {
      font-size: 1.2rem;
  }

  .links a:hover {
      font-size: 1.5rem;
  }

  .link-text,
  .link-email {
      font-size: 12px;
  }
}
