*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  body {
    background: linear-gradient(to right, #3B008A, #4f119f, #532a89, #633f92) !important;   
    background-size: 300% 300%; 
    animation: color 10s ease-in-out infinite;
  }
  
  @keyframes color{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
  }
  
  .navbar {
    background-color: #4c00b0;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    box-shadow: 0px 5px 30px rgb(0, 0, 0, 0.8);
    z-index: 100;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 60px;
    margin: 5px 30px;
    border-radius: 50%;
    box-shadow: 5px 5px 20px rgb(0, 0, 0, 0.5);
  }
  
  .login-button,
  .sign-up-button {
    padding: 10px 30px;
    margin: 0px 20px; 
    background-color: transparent;
    border: solid 3px white;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    /* transition: background-color 0.3s, color 0.3s, transform 0.3s; */
    transition: all 0.3s;
  }
  
  .login-button:hover,
  .sign-up-button:hover {
    transform: scale(1.08);
    background-color: white;
    color: #cc8899;
  }
  