/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

/* Landing Page */
*{
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background: linear-gradient(to right, #3B008A, #4f119f, #532a89, #633f92) !important;   
  background-size: 300% 300%; 
  animation: color 10s ease-in-out infinite;
}

@keyframes color{
  0%{
      background-position: 0 50%;
  }
  50%{
      background-position: 100% 50%;
  }
  100%{
      background-position: 0 50%;
  }
}

.navbar {
  background-color: #4c00b0;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  box-shadow: 0px 5px 30px rgb(0, 0, 0, 0.8);
  z-index: 100;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.logo {
  width: 60px;
  margin: 5px 30px;
  border-radius: 50%;
  box-shadow: 5px 5px 20px rgb(0, 0, 0, 0.5);
}

.login-button,
.sign-up-button {
  padding: 10px 30px;
  margin: 0px 20px; 
  background-color: transparent;
  border: solid 3px white;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  /* transition: background-color 0.3s, color 0.3s, transform 0.3s; */
  transition: all 0.3s;
}

.login-button:hover,
.sign-up-button:hover {
  transform: scale(1.08);
  background-color: white;
  color: #cc8899;
}

.what {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 110px 32px;
  padding-bottom: 70px;
  /* width: calc(100% - 64px); */
  box-sizing: border-box;
  width: 100%;
}

.what-content {
  display: flex;
}

.ans-what {
  display: flex;
  flex-direction: column;
}

.ans-what-grid {
  display: grid;
  grid-template-columns: 350px 350px;
  column-gap: 10px;
  row-gap: 10px;
  margin-top: 20px;
  font-size: 20px;
}

.grid {
  background-color: #6f3cc7;
  padding: 25px;
  text-align: left;
  border-radius: 20px;
  font-size: 15px;
  height: 200px;
  box-shadow: 5px 5px 20px rgb(0, 0, 0, 0.7);
}

.box1-title,
.box2-title,
.box3-title,
.box4-title {
  margin-bottom: 10px;
  color: black;
  font-weight: 600;
  font-size: 20px;
}

.add-button {
  color: white;
  background-color: black;
  margin: 5px 0;
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
}

.pic {
  height: 100px;
  border-radius: 20px;
  margin-top: 10px;
}

.dashboard {
  width: 200px;
}

.what-is-fms{
  background-color: #4c00b0;
  border: none;
  margin-right: 20px;
  padding: 16px;
  border-radius: 20px;
  width: 40%;
  height: 630px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ans-what {
  background-color: #4c00b0;
  border: none;
  margin-left: 20px;
  padding: 16px;
  border-radius: 20px;
  width: 60%;
  height: 630px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.what-title {
  color: white;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

/* Card Shadow and Animation */
.what-is-fms,
.ans-what {
  transition: transform 0.3s ease;
  animation: fade-in 1s ease;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
 
.what-is-fms:hover,
.ans-what:hover {
  transform: scale(1.05);
}

.why {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;
}

.why-title {
  color: white;
  font-size: 80px;
  margin-bottom: 30px;
  text-align: center;
}

.ans-why {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.why-1st {
  color: white;
  font-size: 40px;
  margin-bottom: 20px;
  text-align: center;
}

.collage {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.collage2 {
  width: 450px;
  height: 300px;
  border-radius: 20px;
  box-shadow: 5px 5px 20px black;
  margin-bottom: 40px;
}

.ans-why-box1,
.ans-why-box2,
.ans-why-box3,
.ans-why-box4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}